
<!--<ng-template #content let-c="close" let-d="dismiss">-->
<!--    <div class="modal-header">-->
<!--        <h4 class="modal-title">Quên mật khẩu?</h4>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--        <form [formGroup]="postForm" style="width: 100%;">-->
<!--            <div class="form-group">-->
<!--                <label for="email">Nhập email của bạn</label>-->
<!--                <input type="email" id="email" [ngClass]="{'is-invalid':postForm.get('email')?.touched && postForm.get('email')?.invalid}" class="form-control" formControlName="email">-->
<!--                <small class="invalid-feedback">Email không hợp lệ</small>-->
<!--            </div>            -->
<!--            <button class="col-4 btn btn-info" (click)="submit()" style="font-size: 15px;">Đặt lại mật khẩu</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</ng-template>-->

<!--<a (click)="open(content)" style="cursor: pointer;">Quên mật khẩu?</a>-->
<div class="card card-container" style="background-color: #E6E6FA;width: 400px">
  <div class="text-center">
    <h3><i class="fa fa-lock fa-4x"></i></h3>
    <h2 class="text-center">Quên mật khẩu?</h2>
    <!--          <p>{{status}}</p>-->
    <div class="panel-body">
      <form class="form-signin" [formGroup]="postForm">
        <span id="reauth-email" class="reauth-email"></span>
        <input style="    background: white;" type="email" id="inputEmail" class="form-control" placeholder="Nhập email..." [ngClass]="{'is-invalid':postForm.get('email')?.touched && postForm.get('email')?.invalid}" formControlName="email" required autofocus>
        <small class="invalid-feedback">Email không hợp lệ</small>
        <button (click)="getForgotPassword()"  class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Lấy lại mật khẩu</button>
      </form>
      <div>
        <a class="forgot-password" routerLink="/sign-form">
          Đăng nhập ngay?
        </a>
      </div>
<!--      <form class="form-signin" #f= "ngForm" (ngSubmit)="f.form.valid && getForgotPassword()" id="register-form" role="form" autocomplete="off" method="post">-->
<!--        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">-->
<!--          <mat-label>Email</mat-label>-->
<!--          <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"-->
<!--                 [(ngModel)]="email"-->
<!--                 placeholder="Ex. abc@gmail.com">-->
<!--          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--            Email không đúng định dạng!-->
<!--          </mat-error>-->
<!--          <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--            Email không được để trống!-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->
<!--        <div class="form-group">-->
<!--          <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Lấy lại mật khẩu"-->
<!--                 type="submit" style="height: auto;margin-top: 15px;">-->
<!--        </div>-->
<!--        <input type="hidden" class="hide" name="token" id="token" value="">-->
<!--      </form>-->
    </div>
  </div>
</div>
<!--  <div class="col-md-4 col-md-offset-4" style="height: 300px">-->
<!--    <div class="panel panel-default card">-->
<!--      <div class="panel-body" style="background-color: #E6E6FA;width: 400px">-->
<!--        <div class="text-center">-->
<!--          <h3><i class="fa fa-lock fa-4x"></i></h3>-->
<!--          <h2 class="text-center">Quên mật khẩu?</h2>-->
<!--&lt;!&ndash;          <p>{{status}}</p>&ndash;&gt;-->
<!--          <div class="panel-body">-->

<!--            <form class="example-form form" #f= "ngForm" (ngSubmit)="f.form.valid && getForgotPassword()" id="register-form" role="form" autocomplete="off" method="post">-->
<!--              <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 10px">-->
<!--                <mat-label>Email</mat-label>-->
<!--                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"-->
<!--                       [(ngModel)]="email"-->
<!--                       placeholder="Ex. abc@gmail.com">-->
<!--                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--                  Email không đúng định dạng!-->
<!--                </mat-error>-->
<!--                <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--                  Email không được để trống!-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->
<!--              <div class="form-group">-->
<!--                <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Lấy lại mật khẩu"-->
<!--                       type="submit" style="height: auto;margin-top: 15px;">-->
<!--              </div>-->
<!--              <input type="hidden" class="hide" name="token" id="token" value="">-->
<!--            </form>-->
<!--            <a routerLink="/login">Đăng nhập</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

