<div class="card card-container">
  <p id="profile-name" class="profile-name-card">Đổi mật khẩu</p>
  <form class="form-signin" [formGroup]="passWordForm">
    <span id="reauth-email" class="reauth-email"></span>
<!--    <input type="email" id="inputEmail" class="form-control" placeholder="Nhập email..." formControlName="email" required autofocus>-->
<!--    <small class="invalid-feedback">Email không hợp lệ</small>-->
    <input class="form-control"
           type="password"
           formControlName="password1"
           id="password1"
           placeholder="Mật khẩu cũ" [ngClass]="{'is-invalid':passWordForm.get('password1')?.touched && passWordForm.get('password1')?.invalid}">
    <small class="invalid-feedback">Mật khẩu tối thiểu 6 ký tự</small>
    <input class="form-control"
           type="password"
           formControlName="password2"
           id="password2"
           placeholder="Mật khẩu mới" [ngClass]="{'is-invalid':passWordForm.get('password2')?.touched && passWordForm.get('password2')?.invalid}">
    <small class="invalid-feedback">Mật khẩu tối thiểu 6 ký tự</small>
    <input class="form-control"
           type="password"
           formControlName="password3"
           id="password3"
           placeholder="Xác nhận mật khẩu" [ngClass]="{'is-invalid':passWordForm.get('password3')?.touched && passWordForm.get('password3')?.invalid}">
    <small class="invalid-feedback">Mật khẩu tối thiểu 6 ký tự</small>

    <button (click)="updatePass()"  class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đổi mật khẩu</button>
  </form><!-- /form -->

</div>
